﻿<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>تصنيف بلوم - {% block title %} {% endblock %}</title> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bloom/css/8-login-form/style.css' %}">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->    
</head>
<body style="direction:rtl;">
    <section class="info-about">     
        يعتبر تصنيف بلوم لأهداف التعلم (Bloom's 1956) من أشهر النماذج التي تصف مستويات الأداء الإدراكي.
    </section>
    {% block content %}  

    {% endblock %}
    <section class="about">        
        <p class="about-author">          
            جميع الحقوق محفوظة &copy; 2013
        </p>
    </section>

  <section class="about" style="display:none;">
    <p class="about-links">
      <a href="http://www.cssflow.com/snippets/login-form" target="_parent">View Article</a>
      <a href="http://www.cssflow.com/snippets/login-form.zip" target="_parent">Download</a>
    </p>
    <p class="about-author">
      &copy; 2012&ndash;2013 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
      <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
      Original PSD by <a href="http://www.premiumpixels.com/freebies/clean-simple-login-form-psd/" target="_blank">Orman Clark</a>
  </section>
</body>
</html>
