﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>حول الموقع</title>
<style>
#container1{
		direction:rtl;
		margin:5px auto;
		width:800px;
		border: 1px solid rgb(17, 17, 17);
		border-radius: 5px ;
	}
  #title {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    
    perspective-origin: 422.4375px 21px;
    transform-origin: 422.4375px 21px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box;
  
    font: normal normal normal 25px/24px klavika-web, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 25px 15px;
	font-weight:800;
	
}/*#H2_1*/
</style>
</head>

<body>
<div id="container1">
<h2 id="title">
	 حول الموقع
</h2>
<p style="padding:15px;text-align:justify;font-size:15pt;line-height:30px;">
{% load staticfiles %}
<img src="{% static 'bloom/images/about2.jpg' %}"  style="display:none;margin:10px auto;"/>
تم انجاز هذا البرنامج التعليمي المحوسب استكمالا لدرجة الدكتوراة :
<span style="font-weight:bold;text-align:center;display:block;margin:15px auto;">
للطالب/ محمد فوزي العقاد - فلسطين
</span>
في مجال التصميم التعليمي المحوسب بتخصص تكنولوجيا المعلومات في كلية علوم الحاسوب وتقانة المعلومات بجامعه السودان للعلوم والتكنولوجيا تحت اشراف السيد :
<span style="font-weight:bold;text-align:center;display:block;margin:15px auto;">
سعادة البروفسور / اسماعيل الازهرى محمد السيد الازهري     حفظة الله ،،،

</span>
</p>
</div>
</body>
</html>