<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gagné</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}bloom/js/jquery-ui-1.10.3.custom/development-bundle/themes/base/jquery.ui.all.css" />
    <script src="{{ STATIC_URL }}bloom/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bloom/js/jquery-ui-1.10.3.custom/development-bundle/demos/demos.css" />
    <script src="{{ STATIC_URL }}bloom/js/combobox.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/treeNodeActions.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/site.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/cookies.js"></script>

    <script src="{{ STATIC_URL }}bloom/js/dialog-statistics.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/dialog-upload.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/dialog-form.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/dialog-confirm.js"></script>
    <script src="{{ STATIC_URL }}bloom/js/dialog-interactive.js"></script>
    
    <link rel="stylesheet" href="{{ STATIC_URL }}bloom/css/site.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bloom/css/tree.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bloom/css/dialogs.css" />
    
</head>

<body style="direction:rtl;text-align:right; display:none;">
    {% include "bloom/header.html" %} 
    {% block content %} 

    {% endblock %}
</body>

</html>
