{% extends "base.html" %}
{% block content %}
<div style="font-style:italic;font-size:10pt;margin-bottom:15px;color:white;background-color:black;padding:5px;">total result:{{ count }}</div>
{% for post in object_list %}
<h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
<div class="post-meta">
	on {{ post.date }}
</div>
<div class="post-body" style="text-align:justify;">
	{{ post.body|safe|linebreaks }}
</div>
{% endfor %}
{% endblock %}
