<style type="text/css" media="screen">
#dialog-interactive table {
    border-collapse: collapse;
    width: 100%;
    line-height: 30px;
}

#dialog-interactive th {}

#dialog-interactive table,
#dialog-interactive td,
#dialog-interactive th {
    border: 1px solid black;
    text-indent: 5px;
}

#dialog-interactive input[type="button"] {
    font-weight: 700;
    margin: 10px 5px;
    font-size: 1.3em;
}

#dialog-interactive input[type="button"][disabled] {
    color: darkgoldenrod;
    cursor: not-allowed;
}

#dialog-interactive textarea {
    margin: 5px auto;
    width: 95%;
    padding: 0;
}

.ui-dialog-titlebar-minimize {
    margin-right: 25px !important;
}

[dialog-interactive-prev] {
    *background-color: cyan;
}

[dialog-interactive-next] {
    *background-color: yellow;
}

[dialog-interactive-up] {
    *background-color: blue;
}

[dialog-interactive-down] {
    *background-color: greenyellow;
}

[data-interactive-current] {
    padding: 10px !important;
    background-color: #00AEDB !important;
    color:#fff !important;
}

[data-interactive-current] span{
    color: #fff;
}


[data-interactive-current]:before{
    content:'⇐ ';
}

#dialog-interactive-upload-target{
    width: 500px;
    height: 500px;
    padding: 5px;
    margin: 5px;
    display: block;
    border:1px solid black;

}
#dialog-interactive-upload-target img{
    max-width: 490px;
    max-height: 490px; 
    display: block; 
    margin: auto auto;
}
</style>
<div id="dialog-interactive" title="المشروع التفاعلي التعليمي ( البيان )">
    <table cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <th width="150">الدرس:</th>
                <td id="dialog-interactive-project-name"></td>
            </tr>
            <tr>
                <th width="150">الهدف:</th>
                <td id="dialog-interactive-sentence"></td>
            </tr>
            <tr>
                <th>تصنيف الهدف:</th>
                <td id="dialog-interactive-tax"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <table>
                        <thead>
                            <tr>
                                <th width="50%" align="center">الاحداث التدريسية</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <textarea id="dialog-interactive-notes" rows="10" cols="10" onchange="dialogInteractiveNotesChange(event, this)" style="width:95%; padding:5px;"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" id="dialog-interactive-prev" value="&#8658;" onclick="moveInteractiveNode('prev')">
                    <input type="button" id="dialog-interactive-up" value="&#8657;" onclick="moveInteractiveNode('up')">
                    <input type="button" id="dialog-interactive-down" value="&#8659;" onclick="moveInteractiveNode('down')">
                    <input type="button" id="dialog-interactive-next" value="&#8656;" onclick="moveInteractiveNode('next')">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(function(){


        $('#dialog-interactive-upload-target').dialog({ autoOpen: false, width:520, height: 520});
        $('#dialog-interactive-image-upload').dblclick(function(){ 
            $('#imgUpload').trigger('click'); 
        });
        $('#dialog-interactive-movie-upload').dblclick(function(){ 
            $('#movieUpload').trigger('click'); 
        });
        $('#dialog-interactive-music-upload').dblclick(function(){ 
            $('#musicUpload').trigger('click'); 
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#dialog-interactive-image-upload').attr('src', e.target.result);
                    $('[data-interactive]').attr('data-image-src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgupload").change(function(){
            readURL(this);
        });//click


        $('#dialog-interactive-image-upload').click(function(event){
            if($('[data-interactive][data-image-src]').size() > 0){
                $image = $('<img>', {
                    src: $('[data-interactive]').attr('data-image-src')
                })
                $('#dialog-interactive-upload-target').html( $image );                
                $('#dialog-interactive-upload-target').dialog('open');

            }//end if            
        });
    });
</script>

<div id="dialog-interactive-upload-target" title="عرض">

</div>