<!-- dialog-confirm-->
{% load bloom_extras %}
<div id="dialog-confirm" title="رسالة تأكيد">
    <input type="hidden" id="dialog-confirm-verb" value="">
    <p><span class="ui-icon ui-icon-alert" style="float:right; margin:0 7px 20px 0;"></span>الفعل [ <span id="dialog-confirm-verb-label"></span> ] غير موجدد في قائمة الافعال، هل ترغب في اضافته ؟</p>
    <hr/>
    <p>حدد تصنيف الفعل المراد اضافته من القائمة:</p>
     <select id="dialog-confirm-taxonomy" class="ui-widget ui-widget-content ui-state-default ui-corner-left">
    {% for tax in rdata.Taxonomy %}
            <option value="{{ tax.id }}">{{ tax.Name|get_nice_name }}</option>        
    {% endfor %} 
    </select>
</div>


<!-- dialog-form -->
<div id="dialog-form" title="تعديل الفعل">   
        <fieldset>
            <label for="name">الفعل</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />           
        </fieldset>    
</div>
<div id="dialog-upload" title="رفع الملف"> 
    <iframe src="/bloom/test/" id="" style="border:0;" width="100%" height="100%" ></iframe>
</div>
<!-- dialog-statistics -->
<div id="dialog-statistics" title="احصائيات استخدام الافعال">
  <table style="width: 100%; border-collapse: collapse;" border="1" cellpadding="2" cellspacing="2">      
      <thead>
        <tr>
            <th width="150" height="50">المستوى الادراكي</th>
            <th width="100">التذكر</th>
            <th width="100">الفهم والاستيعاب</th>
            <th width="100">التطبيق</th>
            <th width="100">التحليل</th>
            <th width="100">التركيب</th>
            <th width="100">التقويم</th>
        </tr>
      </thead>
      <tbody>
        <tr><th width="150" height="50">عدد الاهداف</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><th width="150" height="50">النسبة المئوية</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><th colspan="6" height="50">مجموع الاهداف</th><td></td></tr>
      </tbody>
  </table>
</div>