<div class="ui-widget ui-state-highlight ui-corner-all page-header">
    <div class="right-box">
        <span class="ui-icon ui-icon-info"></span>
        <strong style="float:right;">اهلا بالزائر :</strong> {{ rdata.user_name }} ،،،<a href="/bloom/logout/" style="color:red;text-decoration:none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">خروج</a>
        <p class="project-name-box">
            <span class="ui-icon ui-icon-info"></span>
            <strong>اسم المشروع: </strong><span id="project-name"></span>
        </p>
        <div class="maximize-box">
            <input type="button" name="" value="رجوع للشجرة" onclick="maximizeDialogInteractive()">
        </div>
    </div>
    <div class="left-box">
        <div class="left-box-links1">
            <a href="/bloom/contact" target="_blank"> اتصل بنا</a> |
            <a href="/bloom/about" target="_blank">حول الموقع</a> |
            <a href="/bloom/help" target="_blank">مساعدة</a>
        </div>
        <div>
            <a href="#" class="print" id="btn_print" style="display:block;float:left;margin-bottom:5px;margin-left:5px;" onclick="window.print();">
                <img src="{{ STATIC_URL }}bloom/images/print-icon.png" style="border:0;" alt="print" />
            </a>
            <a href="#" class="print" id="btn_pdf" style="display:block;float:left;margin-bottom:5px;margin-left:5px;" onclick="generatePdf(event, {{ rdata.user_id }})">
                <img src="{{ STATIC_URL }}bloom/images/1392745063_pdf.png" style="border:0;" alt="pdf" />
            </a>
            <span style="float:left;display:block;border-left:1px solid red;line-height:32px;margin:0 5px 0 10px;">&nbsp;</span>
            <a href="#" class="print" id="btn_open_tree" style="display:block;float:left;margin-bottom:5px;margin-left:5px;" onclick="openSavedTree(event)">
                <img src="{{ STATIC_URL }}bloom/images/open-file-icon.png" style="border:0;" alt="فتح" />
            </a>
            <iframe id="download" style="display:none;"></iframe>
            <a href="#" class="print" id="btn_save_tree" style="display:block;float:left;margin-bottom:5px;margin-left:5px;" onclick="saveTree(event)">
                <img src="{{ STATIC_URL }}bloom/images/1392745331_Save.png" style="border:0;" alt="حفظ" />
            </a>
            <a href="#" class="print" id="btn_new_tree" style="display:block;float:left;margin-bottom:5px;margin-left:5px;" onclick="generateNewTree(event)">
                <img src="{{ STATIC_URL }}bloom/images/1392744855_bookmark-new.png" style="border:0;" alt="جديد" />
            </a>
            <span style="float:left;display:block;border-left:1px solid red;line-height:32px;margin:0 5px 0 10px;">&nbsp;</span>
            <a href="#" class="generate" id="btn_generate" style="display:block;float:left;margin-bottom:5px;margin-left:5px;text-align:center;line-height:32px;" onclick="postGenerate(event)">
                generate
            </a>
            <a href="#" class="generate" id="btn_statistics" style="display:block;float:left;margin-bottom:5px;margin-left:5px;text-align:center;line-height:32px;" onclick="genertateStatistics(event)">
                Statistics
            </a>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<div class="statistics">
    <table>
        <thead>
            <tr>
                <th>المستوى الادراكي</th>
                <th>التذكر</th>
                <th>الفهم والاستيعاب</th>
                <th>التطبيق</th>
                <th>التحليل</th>
                <th>التركيب</th>
                <th>التقويم</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>عدد الاهداف</th>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <th>النسبة المئوية</th>
                <td> 0% </td>
                <td> 0% </td>
                <td> 0% </td>
                <td> 0% </td>
                <td> 0% </td>
                <td> 0% </td>
            </tr>
            <tr>
                <th>مجموع الاهداف</th>
                <td colspan="6">0</td>
            </tr>
        </tbody>
    </table>
</div>
