﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">

<head>

<title>بلوم - تعليمات حول عمل البرنامج</title>
{% load staticfiles %}
    
    <link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/themes/base/jquery.ui.all.css' %}" />
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/demos/demos.css' %}"/>
<link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/css/base.css' %}"/>

    <script>
	  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content",
	  collapsible: true,
	  active: false 
    });
  });
  </script>
  <style>
	#accordion{
		font-size: 12pt;
		text-align: right;
		direction: rtl;
		margin:5px;
	}
	
	#accordion>h3{
		font-weight:bold;
	}
		#accordion p{
		text-align: justify;
	}
	#container1{
		margin:5px auto;
		width:900px;
		border: 1px solid rgb(17, 17, 17);
		border-radius: 5px ;
	}
  #title {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    
    perspective-origin: 422.4375px 21px;
    transform-origin: 422.4375px 21px;
    background: rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box;
  
    font: normal normal normal 25px/24px klavika-web, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 25px 15px;
	font-weight:800;
	
}/*#H2_1*/

	table{
		padding:0;
	}

  </style>
</head>

<body>
<div id="container1">
<h2 id="title">
	 تعليمات حول عمل البرنامج
</h2>

<div id="accordion">
  <h3>01 - ما هو برنامج بناء شجرة الاهداف التعليمية؟</h3>
  <div>
    <p>
  هو عبارة عن برنامج  يهدف لبناء شجرة الاهداف التعليمية حسب نظرية جانييه وتصنيف بلوم المعدل وبناء علي مفهوم يوردون للتحليل والتصميم تم بناء هذا البرنامج, هذا البرنامج يهدف للوصول الى طريقة مستحدثة ومميزة لتوليد واجهة مستخدم مشتقة من مخطط انتقال الحالات State Transition Diagram في بيئة عمل نظام التشغيل ويندوز الذي يعتبر نظام تشغيل صديق للمستخدم والذي شكل تحديا يقتضي تضمين مجموعة من ميزات نظام التشغيل في الواجهة المراد توليدها بهدف تحقيق مبدا التوافق بين نظام التشغيل وتطبيقاته.
وفي ضوء منهجية التحليل والتصميم التي توصل إليها يوردون والتي تعتبر اصلا لكل منهجيات تحليل وتصميم التعليم التي توصلت اليها التقنيات الحديثة تم تقسيم عملية تصميم الواجهة الى مراحل ثلاث تبدأ بكتابة البرنامج ثم عرضه وانتهاءً بتوليد الواجهة ولقد تم اختيار لغة البرمجة Python3.3  لتصميم تطبيق يسّهل دمج اصول التربية الحديثة بتكنولوجيا المعلومات مع مراعاة سهولة الاستخدام لغير المختصين في تكنولوجيا المعلومات لهذا التطبيق, ويهدف هذا المزج إلى توليد شاشة يمكن للمستخدم/المعلم/المربي التفاعل معها بسهولة ويسر بهدف مساعدته في الوصول بالمتعلم الى الهدف النهائي للدرس من خلال مجموعة من الاهداف التمكينية المساعدة.

    </p>
  </div>
  <h3>02 - ما هي خطوات تثبيت جانغو؟</h3>
  <div>
    <p>
   
<br/>1) نقوم بتنزيل ملف لغة البايثون (python-3.4.1.msi)
<br/>2) نقوم بتزيل ملف مدير التنزيلات (pip-1.5.6.win-amd64-py3.4.exe)
<br/>3) قم بفك ضغط الملف (django-django-1.6.zip) وقم بفتح موجه الاوامر (cmd) في وضع مدير النظام ،ثم قم بتغيير مسار موجه الاوامر الى المسار الذي تم فك ضغط الملف فيه،
<br/>4) قم بكتابة الامر الاتي  على موجه الاوامر ( cmd ):
<br/>python setup.py install.

    </p>
  </div>
  <h3>03 - ما هي خطوات عمل مشروع جديد باستخدام جانغو؟</h3>
  <div>
    <p>
<br/>1) قم يتشغيل موجه الاوامر (cmd).
<br/>2) قم بتحويل مسار موجه الاوامر الى المسار المراد انشاء مشروع فيه.
<br/>3) قم بكتابة الامر الاتي عل موجه الاوامر(حيث mysite اسم المشروع):
<br/>python django-admin.py startproject mysite
    </p>
    
  </div>
  <h3>04 - ما هي خطوات تشغيل المشروع على المتصفح؟</h3>
  <div>
    <p>
<br/>1) قم بتشغيل موجه الاوامر(cmd).
<br/>2) قم بتحويل مسار موجه الاوامر (cmd)الى مسار المشروع المراد تشغيله.
<br/>3) قم بكتابة الامر الاتي: python manage.py runserver
<br/>4) قم بالذهاب الى المتصفح على الرابط الاتي : http://127.0.0.1:8000/

    </p>
  </div>
  
  
  <h3>05 - ما هي مميزات لغة بايثون؟</h3>
  <div><p>
  <ul>
  <li>
 تمتاز لغة بايثون بالبساطة، حيث ان اي برنامج مكتوب بلغة بايثون يشبه اللغة الانكليزية البسيطة، وهذه البساطة تعطيك القدرة على حل المشكلة بدلا من التركيز في اللغة نفسها.
 </li>
<li>
 تمتاز لغة بايثون بانها سهلة التعلم، حيث انها تحتوي عل تراكيب سهلة.
 </li>
<li>
 تمتاز لغة بايثون بانها حرة ومفتوحة المصدر يمكنك بحرية توزيع نسخ من هذه البرمجيات، وقراءة كود المصدر، و القيام ببعض التغييرات عليها واستخدام أجزاء منها في برمجيات حرة جديدة.
 </li>
<li>
 كما تمتاز لغة بايثون بأنها لغة برمجة عالية المستوى، فعندما تكتب البرامج في بايثون، لا تحتاج للاهتمام بالتفاصيل دقيقة المستوى مثل إدارة الذاكرة التي يستخدمها برنامجك.
 </li>
<li>
تمتاز ايضا بأنها لغة محمولة يمكنك استخدام بايثون على لينكس، ويندوز، فري بي‌إس‌دي، ماكينتوش، سولاريس، وغيرها.
</li>
<li> تمتاز مكتبة بايثون بالقدرة علي المساعدة في تطوير جميع البرامج.
</li>
  
  </p></div>
  
  
  <h3>06 - كيف يتم الدخول للبرنامج؟</h3>
  <div><p>
 بداية الدخول للبرنامج هي نقطة الدخول عبر موقع تسجيل الدخول للبرنامج والتي تتكون من عنصرين الأول هو حقل ادخال البريد الالكتروني  و الثاني هو حقل كلمة السر وكلاهما يندرج تحت شكل تسجيل الدخول.
فكما هو موضح في <b>الشكل رقم (1)</b> عندما يقوم المستخدم بإدخال البيانات الصحيحة سيقوم النظام بالانتقال لواجهة البرنامج, ومن ثم سيتمكن المستخدم الانتقاء او الاختيار من مجموعة الروابط النصية والتي ستنقله إلى صفحات أو مواقع مختلفة.
تتكون معلومات تسجيل الدخول من الاسم وكلمة المرور وإعدادات الأمان, فاذا أثبت المستخدم شرعيته سوف يرى بعد ذلك شاشة البرنامج المبدئية, أما إذا أخفق ولم يتمكن من الدخول سوف تظهر له صفحة تنبيه بالدخول الخطأ حيث تتضمن الطلب من المستخدم بأن يعيد كتابة البيانات.
لاحظ أن المعلومات برغم أنها شبه متطابقة فيما بين شكل تسجيل الدخول وصفحة إعادة المحاولة إلا أنه يتم عرضهما بشكل منفصل لأن واجهة المستخدم تفرق بينهما.



	
 
  </p>
	<p>
		<table style="text-align:center;margin:0 auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img1.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>الشكل رقم (1) موقع تسجيل الدخول للبرنامج</td></tr>
		</table>
	</p>
  </div>
  
  
  <h3>07 - ما هي مكونات الصفحة الرئيسية للبرنامج؟</h3>
  <div>
	<p>وتتكون من عدد من تصنيفات بلوم , وعند اختيار احد هذه التصنيفات فسوف تظهر عدد من الافعال التي تنتمي لهذا المستوى من تصنيفات بلوم, وتتكون الواجهة بالإضافة الي تصنيفات الاهداف الستة لبلوم , من كلمتين ثابتتين وهما (ان) و( الطالب) وبينهما شكل المعالجة المستطيل بحيث انه عندما يتم اختيار احد الافعال حسب المناسب لبناء شجرة الافعال يتم تخزين هذا الفعل في المستوى المرسوم للشجرة ويليه الكلمة الثابتة (الطالب) ثم يليه رمز المعالجة مرة اخرى ويتم تعبئته بجملة تكمل بناء الهدف. وعند بناء هذه الحالة يتم النقر علي مربع اضافة فاذا ما صحت الشروط المصاحبة لبناء هذه الحالة فسوف يظهر هذا الهدف في الجزء المخصص لشجرة الاهداف في واجهة التفاعل مع المستخدم. وهكذا تتتابع الحالات ويتم ربطها بأدوات اتصال . عند بناء الشجرة يمكن للمستخدم أن يتحكم بالشجرة والدخول إلى خيارات توجيهية إضافية مثل ( التالي – السابق – تعديل), وإذا اختار المستخدم ( تعديل) فسوف يتم (إعادة كتابة الهدف) فيتم نقله إلى جزء المستويات الستة المعروضة في بداية الصفحة وهي تكون في هذه الحالة كنشاط توصيلي, وأخيراً يمكن للمستخدم أن يختار طباعة الصفحة او حفظها علي هيئة PDF او حفظها بملف منفصل لاستردادها في وقت لاحق.</p>
	
	</p>
	<p>
		<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img2.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>شكل رقم (2) مكونات الصفحة الرئيسية للبرنامج</td></tr>
		</table>
	</p>
	
  </div>
 <h3>08 - ما هي علاقة مستويات ترتيب الاهداف بتصنيف بلوم؟</h3>
<div>
<p>
حتى يتمكن المعلم/المدرب/ من اتمام عملية بناء الاهداف داخل ذهن المتعلم وبالتالي الوصول للهدف النهائي يلزمه الدخول الي عالم التربية  للتعرف علي تصنيف بلوم للأهداف والتصنيف المعدل وترتيبها ابتداء من الهدف الاول وصولا للهدف السادس وكذلك معرفة الافعال التي تستخدم في كل تصنيف باعتبار انها كلمات مفتاحية لبناء الهدف . ثم لابد ايضا من التعرف علي نظرية جانييه وكيفية بناء الاهداف لدي هذه النظرية. حيث يتبع المستخدم الخطوات التالية عند بدء العمل:
<br/>- تحديد التصنيف الذي يتبع له الهدف البنائي.
<br/>- تحديد الفعل المستخدم حسب التصنيف ويسمي الفعل في هذه الحالة (حدث) حيث يقوم المستخدم باختيار الفعل بناء علي التصنيف في الخطوة السابقة.
<br/>- يتم اختيار الفعل بكتابة الحرف الاول لتظهر كل الافعال التي تبدء بنفس الحرف ثم اضافة الحرف الثاني لتظهر الافعال التي تبدء بنفس الحروف وهكذا فيما يشبه (AutoComplete) وصولا لاختيار الحدث (الفعل) المطلوب كما في الشكل رقم (3)

</p>
<p>
		<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img3.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>الشكل رقم (3) مستويات ترتيب الاهداف بتصنيف بلوم</td></tr>
		</table>
	</p>
</div>


<h3>09 - ما هى قاعدة البيانات المتوافقة مع لغة البايثون ؟ </h3>
<div>
<p>
 قاعدة البيانات المتوافقة مع لغة البايثون  هي ( sqlite ) وتمتاز بانها :
<br/>• قاعدة بيانات غاية في البساطة.
<br/>• حجمها صغير.
<br/>• مدمجة مع لغة بايثون بشكل افتراضي.
<br/>• يتم تخزين جميع البيانات فيها بملف واحد.

</p>
</div>


<h3>10 - كيف يتم بناء شجرة الاهداف وفقا لنظرية جانييه ؟</h3>
<div>
<p>
	<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img4.png' %}" style="width:100%" />
		</td>
		</tr>
		</table>
</p>
</div>




<h3>11 - كيف يتم بناء المسار الوظيفي لواجهة البرنامج التطبيقية الإرشادية ؟</h3>
<div>
<p>
<br/>أولاً:  تسطيب برنامج بايثون الاصدار (  3.3 ).
<br/>ثانيا:  اختيار قاعدة البيانات المتوافقة مع لغة البايثون ( sqlite ) .
<br/>ثالثا:  تصميم الاشكال اللازمة لعملية الحوار بين مراحل ومستويات البرنامج.
<br/>رابعا:  توصيل وترابط الاشكال. 
<br/>خامسا:  اختيار الاهداف المناسبة لكل تصنيف حسب بلوم.
<br/>سادسا:  بناء شجرة الاهداف بدء من الهدف النهائي (ROOT ) وصولا الي الاهداف التمكينية وفقا لنظرية جانييه.

</p>
</div>

<h3>12 - كيف يتم توليد واجهة الاستخدام التفاعلية البرنامج ؟</h3>
<div>
<p>
عند الانتهاء من رسم الشجرة او كتابة الاهداف بغض النظر عن المحتوى نقوم بالنقر على مربع generate  الموضح في الشكل رقم(6) للوصول الي مرحلة الحصول على واجهة الاستخدام التفاعلية, هذا الجزء تماما يكشف عن  المقصود بالمتطلبات السابقة Requisite Pro .
يتم تطبيق المتطلبات السابقة عن طريق مخطط انتقال الحالات التي توصلنا الي هذا الجزء من البرنامج في حالة واحدة فقط وهي صحة تطبيق الخطوات وتسلسل الحالات حسب الشروط المصاحبة  

</p>
<p>
		<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img5.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>الشكل رقم(6) للحصول علي واجهة التفاعل المولدة من البرنامج</td></tr>
		</table>
	</p>
</div>



<h3>13 - ما العلاقة بين word 2010 وواجهة التفاعل المولدة من البرنامج ؟</h3>
<div>
<p>
لتوضيح  الحوار الرئيسي بين المستخدم والكمبيوتربعد توليد شاشة التفاعل من البرنامج تظهر شجرة الاهداف علي شكل تبويبات , ويمكن اضافة اهداف اخرى عن طريق استخدام نفس الآلية, فكما هو موضح في الشكل يوجد (انقر لإضافة هدف جديد) , وعند اختيار (جديد) يقوم المستخدم بفتح حوار المشروع المنشأ ويعطي نفس الشكل الذي تم تولديه من الشاشة السابقة,. أما بما يخص شكل الواجهة فقد تم مراعاة البساطة والسهولة والحداثة في نفس الوقت حيث تم اعتماد نظام التبويب المتوفر في نظام word2010 وبالتالي يمكن للمستخدم أي كان مستوى علمة في الحاسوب ان يستمتع بتوفير واجهة مستخدم بسيطة يستطيع الاستفادة منها. و كذألك فقد وفرنا علي المستخدم عملية التعامل مع قاعدة البيانات بسبب استخدام نفس قاعدة بيانات الصفحة السابقة.

</p>
<p>
		<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img6.png' %}" style="width:100%" />
		</td></tr>
		<tr><td>
			<hr />
			<img src="{% static 'bloom/images/help/img7.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>شكل رقم (7) تشابه واجهة التفاعل بنظام word 2010</td></tr>
		</table>
	</p>
</div>



<h3>14 - هل يستطيع المستخدم اضافة اهداف جديدة او التعديل علي واجهة التفاعل؟</h3>
<div>
<p>
بالطبع نعم وهذه هي النتيجة النهائية المرجوة من البرنامج يعرض الشكل رقم (8) الوظائف المتوفرة في واجهة المستخدم وذلك لتوضيح  الحوار الرئيسي بين المستخدم والكمبيوتر, بينما يمكن اضافة اهداف اخرى عن طريق استخدام نفس الآلية, فكما هو موضح في الشكل يوجد (انقر لإضافة هدف جديد) .
عند اختيار (جديد) يقوم المستخدم بفتح حوار المشروع المنشأ ويعطي نفس الشكل الذي تم تولديه من الشاشة السابقة,

</p>
<p>
		<table style="text-align:center;margin:auto;">
			<tr><td>
			<img src="{% static 'bloom/images/help/img8.png' %}" style="width:100%" />
		</td></tr>
			<tr><td>الشكل رقم (8) اضافة اهداف جديدة في واجهة التفاعل</td></tr>
		</table>
	</p>
	
</div>





<h3>15 - كيف يتم تجميع وانشاء النظام ؟ </h3>
<div>
<p>
باستخدام مفهوم مخطط الحالات الانتقالية نقوم في المرحلة الاخيرة من البرنامج بتجميع الحالات السابقة في مخطط واحد والهدف منة هو بالطبع انشاء نظام لإنتاج واجهه تفاعلية لبرنامج محوسب سهلة وممتعة للمستخدم وذلك باستخدام مخطط انتقال الحالات (STD). 
</p>
</div>


</div>
</div>






















</body>
</html>