{% extends "bloom/base.html" %} {% block content %} {% csrf_token %} {% include "bloom/search-box.html" %} {% include "bloom/dialogs.html" %} {% include "bloom/dialog-interactive.html" %}
<div class="tree" id="tree">
</div>
<script type="text/javascript">
$(function() {
    $("input[type=button]").button();
});

var $editImg = $('<img>', {
    src: '{{ STATIC_URL }}bloom/images/Pencil-icon.png',
    style: 'border:0;display:none;',
    alt: 'edit',
    class: 'edit'
});

generateNewTree(null, function() {
    $('body').fadeIn('slow');
});

genertateStatistics1();
</script>
{% endblock %}
