﻿{% extends "bloom/8-login-form-base.html" %}

{% block title %}
تسجيل جديد
{% endblock %}

{% block content %}
<section class="container">
    <div class="login">
        <h1>تسجيل الدخول</h1>
        <form method="post" action="/bloom/login/">
            {% csrf_token %}
            <p class="msg" style="color:red;">
               {{msg}}
            </p>            
            <p><input type="email" name="email" tabindex="2" placeholder="البريد الالكتروني" required /></p>
            <p><input type="password" name="password" id="password" tabindex="3" placeholder="كلمة المرور" required /></p>            
            <p class="submit"><input type="submit" name="submit" value="دخول"></p>
        </form>
    </div>
    <div class="login-help">
        <p>ليس لديك حساب، وترغب بالتسجيل ؟ <a href="/bloom/register/">تسجيل جديد</a>.</p>
    </div>
</section>


{% endblock %}

