﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>تصنيف بلوم</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bloom/css/tree.css" %}"/>
    <style type="text/css">
        .wrapper {
            width: 800px;
            margin: auto;
            padding:5px;
        }
        .content {
            border: 1px solid #B5B5B5;
            background-color: #EFEFEF;
            border-radius: 5px;
            min-height: 550px;
        }
        .btns-box {
            border-bottom: 1px dashed #FF5353;                        
            padding:15px 0;
            margin: 5px 0;
            text-align:center;
        }
        .btns-box .print{
            
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="btns-box">
            <div class="print">
                <script>var pfHeaderImgUrl = ''; var pfHeaderTagline = ''; var pfdisableClickToDel = 0; var pfHideImages = 0; var pfImageDisplayStyle = 'right'; var pfDisablePDF = 0; var pfDisableEmail = 0; var pfDisablePrint = 0; var pfCustomCSS = ''; var pfBtVersion = '1'; (function () { var js, pf; pf = document.createElement('script'); pf.type = 'text/javascript'; if ('https:' == document.location.protocol) { js = 'https://pf-cdn.printfriendly.com/ssl/main.js' } else { js = 'http://cdn.printfriendly.com/printfriendly.js' } pf.src = js; document.getElementsByTagName('head')[0].appendChild(pf) })();</script><a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="                        window.print(); return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="http://cdn.printfriendly.com/button-print-gry20.png" alt="Print Friendly and PDF" /></a>
                <!-- Web2PDF Converter Button BEGIN -->
                <script type="text/javascript">
                    var
                    pdfbuttonlabel = "Save page as PDF"
                </script>
                <script src="http://www.web2pdfconvert.com/pdfbutton2.js" id="Web2PDF" type="text/javascript"></script>
                <!-- Web2PDF Converter Button END -->

            </div>
        </div>
    <div class="content">
        <div class="tree" id="tree">
            {{tree|safe}}
        </div>
    </div>
        </div>
</body>

</html>