﻿{% extends "bloom/8-login-form-base.html" %}

{% block title %}
تسجيل جديد
{% endblock %}

{% block content %}
<script type="text/javascript">
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('كلمتا المرور غير متطابقتين');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
<section class="container">
    <div class="login">
        <h1>تسجيل مسخدم جديد</h1>
        <form method="post" action="/bloom/register/">
            {% csrf_token %}
            <p class="msg" style="color:red;">
               {{msg}}
            </p>
            <p><input type="text" name="name" tabindex="1" placeholder="الاسم" required /></p>
            <p><input type="email" name="email" tabindex="2" placeholder="البريد الالكتروني" required /></p>
            <p><input type="password" name="password" id="password" tabindex="3" placeholder="كلمة المرور" required /></p>
            <p><input type="password" name="cpassword" tabindex="4" placeholder="تأكيد كلمة المرور" oninput="check(this)"  required /></p>
            <p class="submit"><input type="submit" name="submit" value="دخول"></p>
        </form>
    </div>
    <div class="login-help">
        <p>لديك حساب ؟ <a href="/bloom/login/" >تسجيل الدخول</a>.</p>
    </div>
</section>


{% endblock %}

