 {% load bloom_extras %}
 <div class="search-box no-print">
        <div style="width:100%;margin:10px;float:right;">
            <span style="float:right;margin-left:5px;display:block;">أن</span>
            <div style="float:right;display:block;width:300px;">
                <select id="combobox_word" name="combobox_word" style="margin:0;padding:0; width:100%;display:block;line-height:23px;height:23px;padding:5px 5px;" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left">
                    <option value="">حدد الفعل</option>
                    {% for wrd in rdata.Words %}
                    <option value="{{ wrd.id }}" data-taxonomy="{{wrd.Taxonomy|safe}}" data-taxonomyid="{{wrd.Taxonomy.id}}" data-taxonomy-nice-name="{{wrd.Taxonomy.Name|safe|get_nice_name}}">{{ wrd.Word }}</option>
                    {% endfor %}
                </select>
            </div>
            <span style="float:right;margin:0 20px 0 5px;display:block;">الطالب</span>
            <div style="display:block;float:right;margin:0 10px;width:500px;">
                <input name="txt_rest" type="text" id="txt_rest" style="margin:0;padding:0; width:100%;display:block;line-height:23px;height:23px;padding:5px 5px;" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" />
            </div>
            <input type="button" id="btn_add" class="add" style="margin:0 10px;float:right;" value="اضافة" onclick="addTreeNode()" />
            <input type="button" id="btn_update" class="update" style="margin:0 10px;float:right;display:none;" value="تعديل" onclick="updateTreeNode()" />
            <input type="button" id="btn_cancel" class="cancel" style="margin:0 10px;float:right;display:none;" value="الغاء التعديل" onclick="cancelEditingTreeNote()" />
           <input type="button" id="btn_delete" class="delete" style="margin:0 10px;float:right;display:none;" value="حذف" onclick="deleteTreeNode()" />
        </div>
    </div>

  