
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title></title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
<style type="text/css">
	html{
		direction: rtl;
	}
</style>
</head>

<body>
{% if form  %}

<div  style="width:400px;padding:20px;border:1px solid #DFDFDF;margin:5px;">		
		

	<form action="/bloom/test/" method="post" enctype="multipart/form-data" class="pure-form">{% csrf_token %}
		<fieldset>
	        <legend>رفع الملف</legend>
	{{ form.non_field_errors }}
	    <div class="fieldWrapper">
	        {{ form.file.errors }}
	        <label for="id_file">الملف:</label>
	        {{ form.file }}
	    </div>

	</fieldset>
	<input type="submit" value="رفع" class="pure-button pure-button-primary" style="font-size: 85%;"/>
	</form>
</div>
{% endif %}

{% if data %}	
	<script type="text/javascript">

		parentWindow = window.top;
		//parentWindow = window.parent;
		if(parentWindow)
		{
			var data = '{{data|safe}}';
			if( data &&  data.trim().slice( 0, 4 ) && data.trim().slice( -5 )  ){
				parentWindow.document.getElementById('tree').outerHTML = data;
			}
			parentWindow.genertateStatistics1();
			parentWindow.setProjectName(null,window.parent.document);	
			parentWindow.dialog_upload_close();

			
		}

	</script>
{% endif %}

</body>

</html>