﻿{% extends "bloom/register_base.html" %}

{% block title %} 
تسجيل الدخول
{% endblock %}


{% block content %}
<form class="box login" method="post" action="/bloom/login/">
    {% csrf_token %}
    <fieldset class="boxBody">        
        <input type="email" name="email" tabindex="1" placeholder="البريد الالكتروني">
        <input type="password" name="password" tabindex="2" placeholder="كلمة المرور">
        
        

    </fieldset>
    <footer>
        <input type="submit" class="btnLogin" value="تسجيل الدخول" tabindex="3" name="submit">
        <a href="/bloom/register/" style="margin-top:10px;display:block;padding-left:5px;float:left;">تسجيل جديد</a>
    </footer>
    
</form>

{% endblock %}