﻿<!DOCTYPE HTML>
<html>
<head>
<title>تصنيف بلوم - {% block title %} {% endblock %}</title>
<meta charset="UTF-8" />
<meta name="Designer" content="PremiumPixels.com">
<meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "bloom/css/register/reset.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "bloom/css/register/register.css" %}">
<style type="text/css">
.info{
	width: 500px;
	height: 300px;
	margin-top: 10px;
	text-align: justify;;
	padding: 10px;
	font-size: 14pt;
	color: #294B37;
	
	border-color: #365561;
	background-color:#E6EDF0;

}
.info h3{
	background-color: #365561;
	color: white;
	font-size: 16pt;
	font-weight: bold;
	display: block;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: -15px;
	margin-right: -15px;
	margin-left: -15px;
	line-height: 50px;
}
.box{

}
.error{
	border:1px solid #A40000;
	background-color: #FFB7B7;
	padding: 5px;
	line-height: 40px;
	margin:5px 10px;
	border-radius: 5px;
	font-size: 14pt;
	font-weight: bold;
	color: #970000;
	text-align: center;
}
</style>

</head>

<body>
	{% if is_error %}
	<div class="error">البيانات المدخلة غير صحيحة</div>
	{% endif %}
<div class="info">
	<h3>
تصنيف بلوم للأهداف التعليمية</h3>
	يعتبر تصنيف بلوم لأهداف التعلم (Bloom's 1956) من أشهر النماذج التي تصف مستويات الأداء الإدراكي. 
</div>
    {% block content %}

    {% endblock %}
	<footer id="main">
	  <a href="#">جميع الحقوق محفوظة &copy 2014</a> 
	</footer>


</body>
</html>
