  #dialog-form label,
  #dialog-form input {
      display: block;
  }
  
  #dialog-form input.text {
      margin-bottom: 12px;
      width: 95%;
      padding: .4em;
  }
  
  #dialog-form fieldset {
      padding: 0;
      border: 0;
      margin-top: 25px;
  }
  
  #dialog-form h1 {
      font-size: 1.2em;
      margin: .6em 0;
  }
  
  #dialog-form div#users-contain {
      width: 350px;
      margin: 20px 0;
  }
  
  #dialog-form div#users-contain table {
      margin: 1em 0;
      border-collapse: collapse;
      width: 100%;
  }
  
  #dialog-form div#users-contain table td,
  #dialog-form div#users-contain table th {
      border: 1px solid #eee;
      padding: .6em 10px;
      text-align: left;
  }
  
  .ui-dialog .ui-state-error {
      padding: .3em;
  }
  
  .validateTips {
      border: 1px solid transparent;
      padding: 0.3em;
  }
  
  .edit {
      cursor: pointer;
      display: block;
      opacity: .5;
      line-height: 100%;
      vertical-align: middle;
  }
  
  .edit:hover {
      border: 1px solid #0060BF !important;
      opacity: 1;
  }
  
  #dialog-statistics table,
  #dialog-statistics td,
  #dialog-statistics th {
      border: 1px solid black;
      text-align: center;
  }
  
  #dialog-statistics th {
      background-color: #DDDDDD;
  }
