body {
    font-size: 12pt;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-right: -2px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
    border-radius: 4px 0 0 4px !important;
}

.custom-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.new {
    text-decoration: none;
    color: #4E4E4E;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

.new:hover {
    text-decoration: underline;
    color: #A40052;
}

.ui-tabs .ui-tabs-nav li {
    float: right !important;
}

.top-words {
    text-decoration: none;
    color: #DA0E13 !important;
}

.top-words:hover {
    text-decoration: underline;
}

.tree_node {}

.tab-contetnt>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.tab-contetnt>ul li {
    padding: 2px 5px;
    display: block;
    margin: 0 3px;
    float: right;
    text-align: center;
}

.break {
    clear: both;
}

.search-box {
    border: 1px solid #666;
    background-color: #CCC;
    padding: 10px 5px;
    line-height: 30px;
    height: 60px;
    border-radius: 5px;
    margin-top: 5px;
}

.search-box-edit {
    background-color: #D5EAFF;
    border-color: #0058B0;
}

.generate {
    color: #ff0000 !important;
    text-decoration: none;
    border: 1px solid red;
    padding-left: 5px;
    padding-right: 5px;
}

.generate:hover {
    background-color: #ff6a00;
    color: #ffffff !important;
}

.delete {
    background-color: #FF2222;
    background-image: none;
    color: white;
}

#box1 {}

#box1 a {
    text-decoration: none;
    padding: 0px 5px 8px;
}

#box1 a:hover {
    text-decoration: underline;
}

@media print {
    .ui-widget,
    #tabs {
        display: none !important;
    }
    .no-print {
        display: none !important;
    }
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.item {
    border: 1px solid #0060BF;
    background-color: #F0F8FF;
    font-weight: bold;
    width: 300px;
    padding: 5px;
    margin: 5px;
    *float: right;
}

.item:hover {
    border-color: #FF0080;
}

.item:hover h3 {
    background-color: #840042;
}

.item h3 {
    border-bottom: 1px solid #B9E0E6;
    background-color: #007DFB;
    color: white;
    padding: 5px 0;
    margin: -5px -5px 5px;
    *float: right;
    text-align: center;
    font-weight: 700;
}

.item span {
    display: block;
    line-height: 30px;
    *padding: 2px 0;
    border-bottom: 1px dashed #E0E0E0;
}

.item span:last-child {
    border: none;
}

.new_wrd {
    color: #00793D !important;
}

.new_wrd_edit {
    background-image: url('/static/bloom/images/Flaticon_12912.png');
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    margin-left: 0px;
    display: inline-block;
    opacity: .5;
    border: 1px solid white;
    margin-right: 8px;
}

.new_wrd_edit:hover {
    background-color: red;
    opacity: 1;
    border: 1px solid #00793D;
}

.page-header {
    font-size: 12pt;
    line-height: 12px;
    direction: rtl;
    text-align: right;
    display: block;
    margin-bottom: 10px;
    padding: 15px 10px 10px 10px;
}
.page-header .ui-icon{
     float: right; 
     margin-right: .3em;
}
.page-header .right-box{
     float:right;
}
.page-header .right-box .maximize-box{
     display:none;
}
.page-header .right-box #project-name{

}
.page-header .left-box{
     float:left; 
     text-align: left;
}
.left-box .left-box-links1{
     margin-bottom: 20px;
}

.left-box .left-box-links1 a{
     text-decoration: none;
    padding: 0px 5px 8px;
}

.left-box .left-box-links1 a:hover {
    text-decoration: underline;
}


.statistics{
    margin-top: 10px;
    border-radius: 5px;
}

.statistics table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.statistics table td, .statistics table th {
    font-size: 1em;
    border: 1px solid #7E7E7E;
    padding: 3px 7px 2px 7px;
}

.statistics table th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #7E7E7E;    
    color: #ffffff;
}
.statistics table th:not(:last-child){
    border-left-color: #ffffff;
    border-bottom-color: #ffffff;
}

.statistics table tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}