﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>generate </title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/themes/base/jquery.ui.all.css'' %}" />
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/demos/demos.css' %}" />

    
    


    <style type="text/css">
        body {
            font-size: 12pt;
        }
        .ui-tabs .ui-tabs-nav li {
            float: right !important;
        }
        .ui-tabs-panel{
              text-align:justify;
              direction:rtl;
              padding:5px 20px!important;
        } 
        .ui-tabs{
            border-top-left-radius:0 !important;
            border-top-right-radius:0 !important;
            border-color:#111111 !important;
        }
        .tabs-header {
            background: none repeat scroll 0 0 #333333;
            border: 1px solid #111111;
            border-radius: 5px 5px 0 0;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0;
            margin-bottom: 1px;
            overflow: hidden;
            padding: 8px 15px;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        .btn_add_new{
            line-height:35px;
            text-decoration:none;
        }
        .btn_add_new img{
            float:right;
            padding-left:10px;
        }
        .btn_add_new:hover{
           color:rgb(255, 106, 0);
        }
        .tabber p.header-p{
            background: none repeat scroll 0 0 #575656;
            border: 1px solid #111111;
            border-radius: 5px 5px 0 0;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0;
            overflow: hidden;
            padding: 8px 8px;
            text-align: center;
            margin:5px 0 1px !important;
            line-height:35px;
            vertical-align:middle;
        }
    </style>
</head>

<body style="direction:rtl;text-align:right;">
    <div id="dialog-generate-sentence" title="اضافة جملة">
        <iframe src="/bloom/generate_sentence/" id="generate_sentence" style="border:0;" width="100%" height="100%"></iframe>
    </div>

    <div class="tabs-header">test text</div>
    <div id="tabs-widget" class="tabber">
        <ul>        
            <li><a href="#tabs-add" class="tabs-add">+</a></li>            
        </ul>
        
        <div id="tabs-add" class="tabs-add">
            <p>
                <a href="#" class="btn_add_new" id="btn_add_new" style="" onclick="return false;">
                    <img src="{% static 'bloom/images/add-icon.png' %}" style="border:0;" alt="add new" />
                    انقر لاضافة جديد
                </a>
            </p>
        </div>
        
    </div>

    {% block content %}
    {% endblock %}

    <script type="text/javascript">
        $(function () {
            tabbing();
            var json_data = '{{rdata.json_tree|safe}}';            
            if (json_data) {
                json_tree = eval("(" + json_data + ")");

                if (json_tree) {
                    $('.tabs-header:eq(0)').text(json_tree.sentence);

                    if (json_tree.childs.length > 0) {
                        $.each(json_tree.childs, function (key, value) {
                            console.log(value.sentence)
                            /* add tab header & content */
                            //tab header
                            $('#tabs-widget>ul li').last().before("<li><a href='#tabs-" + value.index + "'>" + value.sentence + "</a></li>");
                            //tab content
                            $div = $("<div id='tabs-" + value.index + "'></div>");
                            $div.append("<p class='header-p'>" + value.sentence + "</p>").
                                insertBefore($('#tabs-widget>div').last());


                            //if (value.childs.length > 0) {
                                add_sub_tabbing(value, $div.find('p:eq(0)'))
                            //}


                            $("#tabs-widget").tabs("refresh");
                            /*test*/
                            /*
                            if (value.childs.length > 0) {
                                var tabsContainerId = 'tabs-container-' + value.index;
                                $newTabs = $("<div id='" + tabsContainerId + "' class='tabber'></div>");
    
                                $('<ul></ul>').appendTo($newTabs).
                                    append("<li><a href='#tabs-add-" + value.index + "' class='tabs-add'>+</a></li>");
    
                                $('#tabs-add').clone().attr({
                                    id: 'tabs-add-' + value.index
                                }).appendTo($newTabs);
    
                                $.each(value.childs, function (innerKey, innerValue) {
    
                                    $('>ul li', $newTabs).last().before("<li><a href='#tabs-" + innerValue.index + "'>" + innerValue.sentence + "</a></li>");
    
                                    $innerDiv = $("<div id='tabs-" + innerValue.index + "'><p class='header-p'>" + innerValue.sentence + "</p></div>");
                                    $innerDiv.insertBefore($('>div', $newTabs).last());                                
                                    
                                });
                                $newTabs.appendTo($div)
                                $newTabs.tabs();
                            } */
                            /*end test*/

                        });// end each 

                        //$("#tabs-container").tabs("refresh");
                    }//end if


                } // end json_tree
            } //end json_data


            //setTimeout('tabbing()',5000)
            

        });


        function tabbing() {
            
            $("#tabs-widget").tabs({
                beforeActivate: function (event, ui) {

                    /*if (ui.newTab.text().trim() == '+') {
                        return false;
                    }*/

                }
            });
        }

        function add_sub_tabbing(item, $containerDiv) {
            /* create new tabs-widgit */
            var $newTabsWidgit = $("<div id='tabs-widgit-" + item.index + "' class='tabber'></div>");
            /* new tabs tabs-widgit header list*/
            $('<ul></ul>').appendTo($newTabsWidgit).
                append("<li><a href='#tabs-add-" + item.index + "' class='tabs-add'>+</a></li>");

            /* new tabs tabs-widgit content */
            $tabs_add = $('#tabs-add').clone();
            $tabs_add.find('a:eq(0)').attr('id', ('btn_add_new-' + item.index));
            $tabs_add.attr('id', ('tabs-add-' + item.index)).appendTo($newTabsWidgit);

            
            $newTabsWidgit.appendTo($containerDiv);
            $newTabsWidgit.tabs();
            $containerDiv.closest('.tabber').tabs("refresh");

            $.each(item.childs, function (key, value) {
                /* tab header */
                
                $('>ul li', $newTabsWidgit).last().before("<li><a href='#tabs-" + value.index + "'>" + value.sentence + "</a></li>");
                /* header content */
                $div = $("<div id='tabs-" + value.index + "'></div>");
                $div.append("<p class='header-p'>" + value.sentence + "</p>").
                    insertBefore($('>div', $newTabsWidgit).last());

                console.log('div-id: ' + $div.attr('id') + ', widgit-id :' + $newTabsWidgit.attr('id') + ' -> data: ' + value.sentence);
                
                //if (value.childs.length > 0) {                    
                    add_sub_tabbing(value, $div.find('p:eq(0)'));
                //}
                $newTabsWidgit.tabs("refresh");

            });
           
            
        }


        $(function () {

            $("#dialog-generate-sentence").dialog({
                autoOpen: false,
                resizable: true,
                height: 500,
                width: 1200,
                modal: true
            });



        });
        var $current_tabs_widget = null;
        $(document.body).on('click', '.btn_add_new', function () {

            $current_tabs_widget = $(this).closest('.tabber');
            $("#generate_sentence").contents().find('input:text').val('');
            $("#dialog-generate-sentence").dialog('open');

        });

        function add_tab(data) {
            
            /* add tab header & content */
            //tab header
            var index = $('#tabs-widget li').size() + 1;
            
            $('>ul li', $current_tabs_widget).last().before("<li><a href='#tabs-" + index + "'>" + data.sentence + "</a></li>");
            //tab content
            $div = $("<div id='tabs-" + index + "'></div>");
            $div.append("<p class='header-p'>" + data.sentence + "</p>").
                insertBefore($('>div', $current_tabs_widget).last());

            $current_tabs_widget.tabs("refresh");

            data.index = index;
            add_sub_tabbing(data, $div.find('p:eq(0)'));

            $("#dialog-generate-sentence").dialog('close');

        }

    </script>
</body>
</html>
