﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Simple Search</title>
{% load staticfiles %}
    
    <link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/themes/base/jquery.ui.all.css' %}" />
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/jquery-1.9.1.js' %}"></script>
    <script src="{% static 'bloom/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bloom/js/jquery-ui-1.10.3.custom/development-bundle/demos/demos.css' %}"/>

    <script src="{% static 'bloom/js/combobox.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bloom/css/tree.css' %}" />


<style type="text/css">
	body{
		font-size:12pt;
	}
	

	.custom-combobox {
		position: relative;
		display: inline-block;
	}
	.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-right: -2px;
		padding: 0;
		/* support: IE7 */
		*height: 1.7em;
		*top: 0.1em;
		border-radius:4px 0 0 4px !important;
	}
	.custom-combobox-input {
		margin: 0;
		padding: 0.3em;
	}
	
	 .ui-autocomplete {
		max-height: 200px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		}
		
		.new{
			text-decoration:none;
			color:#4E4E4E;
			font-size:15pt;
			font-family:Arial, Helvetica, sans-serif;
		}
		.new:hover{
			text-decoration:underline;
			color:#A40052;
		}
		.ui-tabs .ui-tabs-nav li{
			float: right !important;
		}
		.top-words{			
			text-decoration: none;
			color: #DA0E13 !important;
		}
		.top-words:hover{
			text-decoration: underline;
		}


    .tree_node{
        
    }
    .tab-contetnt>ul {
        list-style-type: none;
        margin:0;
        padding:0;
        float:right;
    }
    .tab-contetnt>ul li {
        padding: 2px 5px;
        display: block;
        margin: 0 3px;
        float: right;
        text-align:center;
    }    
    .break {
        clear: both;
    }
    .search-box {
        border: 1px solid #666;
        background-color: #CCC;
        padding: 10px 5px;
        line-height: 30px;
        height: 60px;
        border-radius: 5px;
        margin-top: 5px;
    }
    .generate {
        color: #ff0000 !important;
        text-decoration: none;
        border: 1px solid red;
        padding-left: 5px;
        padding-right: 5px;
    }
        .generate:hover {            
            background-color: #ff6a00;
            color: #ffffff !important;            
        }
</style>
</head>

<body style="direction:rtl;text-align:right;">   
<div id="tabs">
<ul>
{% for t in rdata.Taxonomy %}
<li><a href="#tabs-{{ forloop.counter }}">{{ t.Name }}</a></li>
{% endfor %}
</ul>
{% for t in rdata.Taxonomy %}
{% with tab_index=forloop.counter %}
    <div id="tabs-{{ forloop.counter }}" taxonomy_id="{{ t.id }}" class="tab-contetnt">
        <p>
            <ul>
                {% for wrd in t.word_set.all %}
                <li>
                    <a href="#tabs{{ tab_index }}-tax{{t.id}}-wrd{{wrd.id}}" id="wrd_{{wrd.id}}" class="top-words" index="{{forloop.counter}}" wrdid="{{wrd.id}}">{{wrd.Word}}</a>
                </li>
                {% endfor %}
            </ul>       
            <div class="break"></div>     
            <!-- word list select -->
            <div class="search-box">
                <div style="width:1100px;margin:10px;float:right;">
                    <span style="float:right;margin-left:5px;display:block;">أن</span>
                    <div style="float:right;display:block;width:250px;">
                        <input name="txt_search" type="text" id="txt_search_{{ tab_index }}" style="margin:0;padding:0; width:100%;display:block;line-height:23px;height:23px;padding:5px 5px;" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" disabled="disabled"/>
                    </div>
                    <span style="float:right;margin:0 20px 0 5px;display:block;">الطالب</span>
                    <div style="display:block;float:right;margin:0 10px;width:500px;">
                        <input name="txt_rest" type="text" id="txt_rest_{{ tab_index }}" style="margin:0;padding:0; width:100%;display:block;line-height:23px;height:23px;padding:5px 5px;" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" />

                    </div>
                    <a href="#btn-tabs{{ tab_index }}-add" id="btn_add_{{ tab_index }}" class="add" style="margin:0 10px;float:right;">اضافة</a>
                    <a href="#btn-tabs{{ tab_index }}-update" id="btn_update_{{ tab_index }}" class="update" style="margin:0 10px;float:right;display:none;">تعديل</a>
                    <a href="#btn-tabs{{ tab_index }}-cancel" id="btn_cancel_{{ tab_index }}" class="cancel" style="margin:0 10px;float:right;display:none;">الغاء التعديل</a>
                </div>
            </div>
            <!-- end word list select -->
        </p>
    </div>
{% endwith %}
{% endfor %}
</div>

{% block content %}
{% endblock %}
    <script type="text/javascript">
        var node_counter = 1;
        $(function () {
            $('.add,.update,.cancel').button();
            $('#tabs').tabs();


            /* btn_add click */
            $("[id^='btn_add_']").click(function () {
                var $this = $(this);
                var $parent = $this.parent();
                var $txt_search = $parent.find('[id^="txt_search_"]');
                var $txt_rest = $parent.find('[id^="txt_rest_"]');
                var parent_node = 0;

                if (!$txt_search.val().trim()) {
                    alert("يجب تحديد الفعل");
                    return false;
                }
                if (!$txt_rest.val().trim()) {
                    alert("يجب تحديد الجملة");
                    return false;
                }


                

                var taxonomy_id = $this.closest("[taxonomy_id]").attr('taxonomy_id');
                            

                var sentence = 'أن ' + $txt_search.val() + ' الطالب ' + $txt_rest.val()
                //alert(data);

                //$('.tabs-header:eq(0)', parent.document).text(data);
                var data = {
                    sentence: sentence,
                    index: 0,
                    parent_node: 0,
                    taxonomy_id:taxonomy_id,
                    childs: []
                };
                window.parent['add_tab'](data);


                


            });// end btn_add click
        });

        $(document.body).on('click', '.top-words', function () {

            $this = $(this);

            $this.closest('[taxonomy_id]').find('[id^="txt_search_"]').val($this.text())
            $this.closest('[taxonomy_id]').find('[id^="txt_search_"]').attr('wrdid', $this.attr('wrdid'))

            return false;
        });

    </script>
</body>
</html>


		
	


    