{% extends "bloom/base.html" %}
{% block content %}
{% load staticfiles %}
<style type="text/css">
	.item {
		border:1px solid #0060BF;
		background-color:#F0F8FF;
		font-weight:bold;
		width:300px;
		padding:5px;
		margin:5px;
		*float:right;
	}
	
	.item:hover {
		border-color:#FF0080;
	}
	.item:hover h3{
		background-color:#840042;
	}
	.item h3{
		border-bottom:1px solid #B9E0E6;
		background-color:#007DFB;
		color:white;
		padding:5px 0;
		margin:-5px -5px 5px;
		*float:right;
		text-align:center;
		font-weight:700;
	}
	.item span{
		display:block;
		line-height:30px;
		*padding:2px 0;
		border-bottom:1px dashed #E0E0E0;
	}
	.item span:last-child{
		border:none;
	}

    .new_wrd {
        color: #00793D !important;
    }
    .new_wrd_edit {
        background-image: url("{% static "bloom/images/Flaticon_12912.png" %}") ;
        background-repeat:no-repeat;
        background-position:center center;
        border: 0;
        padding: 0;
        width: 16px;
        height: 16px;
        margin-left:0px;
        display: inline-block;
        opacity:.5;
        border:1px solid white;
        margin-right:8px;
    }
    .new_wrd_edit:hover{
        background-color:red;
        opacity:1;
        border:1px solid #00793D;
    }

</style>
{% csrf_token %}
<div id="dialog-confirm" title="رسالة تأكيد">
    <p><span class="ui-icon ui-icon-alert" style="float:right; margin:0 7px 20px 0;"></span>الغعل &larr; <span id="verb"></span> &rarr; غير موجدد في قائمة الافعال، هل ترغب في اضافته ؟</p>
</div>

<style>
    #dialog-form label, #dialog-form input {
        display: block;
    }

    #dialog-form input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

    #dialog-form fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    #dialog-form h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }

    #dialog-form div#users-contain {
        width: 350px;
        margin: 20px 0;
    }

    #dialog-form div#users-contain table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
    }

        #dialog-form div#users-contain table td, #dialog-form div#users-contain table th {
            border: 1px solid #eee;
            padding: .6em 10px;
            text-align: left;
        }

    .ui-dialog .ui-state-error {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }

    </style >
</style>
<script>
    $(function () {
        $("#dialog-form").dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "تعديل": function () {
                    var wrd_id = $('#dialog-form input:eq(0)').attr('wrdid');
                    var verb = $('#dialog-form input:eq(0)').val().trim();
                    var orignal_wrd = $('#dialog-form input:eq(0)').attr('orignal_wrd');

                    $.post("/bloom/verb_update/", {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        'verb': verb,
                        'wrd_id': wrd_id
                    }).done(function (data) {
                        $(".top-words[wrdid='" + wrd_id + "']").text(verb)                        
                        $('#tree a.tree_node').each(function () {
                            var wrd = $(this).text().split('الطالب')[0].substring(3).trim();
                            var rest = $(this).text().split('الطالب')[1].trim();
                            //alert('wrd :' + wrd + '\n rest :' + rest);
                            if (wrd == orignal_wrd)
                                $(this).text(' أن ' + verb + ' الطالب ' + rest);

                            

                            $("[id^='tabs\-']").each(function () {
                                $this_tab = $(this);
                                var wrds = [];
                                var i = 0;
                                $("[id^='wrd_']", this).each(function () {
                                    wrds[i++] = $(this).text();
                                });
                                $this_tab.attr('wrds', wrds);
                                $("[id^='txt_search']", $this_tab).autocomplete({
                                    'source': wrds
                                });

                            });

                            $("#dialog-form").dialog("close");
                        });

                    });


                },
                'الغاء': function () {
                    $(this).dialog("close");
                }
            }
        });
        
        $(document.body).on('click', '.new_wrd_edit', function () {
            $("[id^='btn_cancel']").trigger('click');
            next_item = $(this).next();
            $('#dialog-form input:eq(0)').val(next_item.text()).
                attr({
                    'wrdid': next_item.attr('wrdid'),
                    'orignal_wrd': next_item.text()
            });

            $("#dialog-form").dialog("open");

            return false;
        });
        


    });

</script>
<div id="dialog-form" title="تعديل الفعل">   
        <fieldset>
            <label for="name">الفعل</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />           
        </fieldset>    
</div>

<script>
    $(function () {

       
        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: true,
            height: 200,
            width:450,
            modal: true,
            buttons: {                
                "نعم": function () {
                    var taxonomy_id = $('#dialog-confirm #verb').attr('taxonomy_id');
                    var verb = $('#dialog-confirm #verb').text().trim();                  
                   

                    $.post("/bloom/verb_add/", {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        'verb': verb,
                        'taxonomy_id': taxonomy_id
                    }).done(function (data) {
                        var wrd_id = data;
                        var element = $("[taxonomy_id='" + taxonomy_id + "'] > ul:eq(0)").find('a:eq(0)').clone();
                        var element_href = element.attr('href');

                        $(element).attr({
                            'id':'wrd_'+wrd_id,
                            'wrdid': wrd_id,
                            'href': element_href.slice(0, element_href.lastIndexOf('\-')) + 'wrd' + wrd_id                            
                        }).text(verb).addClass('new_wrd');
                        
                        $("[taxonomy_id^='" + taxonomy_id + "'] > ul:eq(0)").append($('<li></li>').append(element));
                        
                        wrds = $("[taxonomy_id^='" + taxonomy_id + "']").attr('wrds') + ',' + verb;
                        $("[taxonomy_id^='" + taxonomy_id + "']").attr('wrds', wrds);

                        $("[taxonomy_id^='" + taxonomy_id + "']").
                            find("[id^='btn_add_']").
                            trigger('click');

                        $("[taxonomy_id^='" + taxonomy_id + "']").
                            find("[id^='txt_search']").
                            autocomplete({ 'source': wrds.split(',') });


                        $(element).before('<a href="#" class="new_wrd_edit"></a>');

                        //$("[taxonomy_id^='" + taxonomy_id + "'] p:eq(0)").                            
                        //    append(item)

                        
                    });

                  

                    $(this).dialog("close");
                },
                'لا': function () {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>

<div id="dialog-upload" title="رفع الملف"> 
    <iframe src="/bloom/test/" id="" style="border:0;" width="100%" height="100%" ></iframe>
</div>

<script type="text/javascript">
    $(function () {

       
        $("#dialog-upload").dialog({
            autoOpen: false,
            resizable: true,
            height: 300,
            width:550,
            modal: true            
        });


    });

     function dialog_upload_close(){
        $("#dialog-upload").dialog('close');
    }

</script>
<style type="text/css">
    .edit{        
        cursor:pointer;
        display:block;
        opacity:.5;     
        line-height:100%;
        vertical-align:middle;   
    }
    .edit:hover{
        border:1px solid #0060BF !important;
        opacity:1;
    }

</style>

<img src="{% static "bloom/images/Pencil-icon.png" %}" style="border:0;display:none;" alt="eidt" class="edit" id="baseEidt"/>
<img src="{% static " bloom />images/Flaticon_12912.png" %}" style="border:0;display:none;" alt="new_wrd_edit" class="new_wrd_edit" id="baseEidt2"/>
<div class="tree" id="tree">
	
</div>


<script type="text/javascript">
    var node_counter = 1;
    $(function () {
        
		$( "[id^='btn_add_']" ).click(function(){	
			var $this = $(this);
			var $parent = $this.parent();
			var $txt_search = $parent.find('[id^="txt_search_"]');
			var $txt_rest = $parent.find('[id^="txt_rest_"]');
			var parent_node = 0;

			if(!$txt_search.val().trim() )
			{
				alert("يجب تحديد الفعل");
				return false;
			}				
			if(!$txt_rest.val().trim())
			{
				alert("يجب تحديد الجملة");
				return false;
			}

			if($('#tree a').size() > 0 && $('#tree a.selected').size() < 1)
			{
				alert("يجب تحديد الاب");
				return false;
			}

			parent_node = $('#tree a.selected').size() > 0 ? $('#tree a.selected').attr('node_counter') : 0;

			var wrds = $this.closest("[id^='tabs-']").attr('wrds').split(',');
			var taxonomy_id = $this.closest("[taxonomy_id]").attr('taxonomy_id');

			if (wrds.indexOf($txt_search.val().trim()) == -1) {

			    $("#dialog-confirm").find('#verb').
                    text($txt_search.val().trim()).
                    attr('taxonomy_id', taxonomy_id);
			    $("#dialog-confirm").dialog("open");
			    return false;

			}


			$('a.new').removeClass('new');

			var item = 	$('<a></a>').attr({
					'wrdid':$txt_search.attr('wrdid'),
					'href':'#',
					'class': 'tree_node new',
					'taxonomy_id': taxonomy_id,
					'node_counter': node_counter,
					'parent_node': parent_node
               
					})
				.text('أن '+$txt_search.val()+' الطالب '+$txt_rest.val())
				/*.click(function(){
						$('a.selected').removeClass('selected')
						$(this).addClass('selected');			
						return false;			
					})*/
			
			if($('#tree a').size() < 1)
			{
				$('li:eq(0)','<ul><li></li></ul>').
				append( item ).parent().appendTo('#tree');
			}
			else
			{
				if($('a.selected').next('ul').size() < 1)
				{
					$('a.selected').after(
					$('li:eq(0)','<ul><li></li></ul>').
					append( item ).parent() )
				}
				else
				{
					$('a.selected').next('ul').append(
					$('<li></li>').
					append( item ))
				}
				
			}
			$('#tree a').each(function () {
			    if ($(this).prev().size() == 0) {
			        var img = $('#baseEidt').clone();
			        img.attr({
			            'edit_wrd_id': $txt_search.attr('wrdid'),
			            'taxonomy_id': taxonomy_id,
			            'id': 'edit_wrd_id' + $txt_search.attr('wrdid'),
			            'node_counter': node_counter,
			            'parent_node': parent_node
			        }).show();
			        $(this).parent().prepend(img);
			    }
			})
			$txt_search.val('');
			$txt_rest.val('');
			node_counter++;

			/**/
			//document.cookie = 'tree='+$("#tree").clone().html();
			var $tree = $("#tree").clone()
			$('img:not(.edit)', $tree).remove();
			setCookie("tree", encodeURIComponent($tree.html()), 365);
			return false;


		});

		



		$(document.body).on('click', '.tree_node', function () {
			
		    $('a.selected').removeClass('selected')
		    $(this).addClass('selected');
		    return false;
			
		});


	});
		
</script>







<script type="text/javascript">
    $(function () {

        $("[id^='btn_cancel']").click(function () {
            var $this = $(this);
            var taxonomy_id = $this.attr('taxonomy_id');
            var tab = $("#tabs > div[taxonomy_id^='" + taxonomy_id + "']:eq(0)");

            $('.add', tab).show('slow');
            $('.update,.cancel', tab).hide('slow');
            $('.update,.cancel', tab).removeAttr("taxonomy_id").removeAttr("wrd_id").removeAttr("node_counter").removeAttr('parent_node')

            $("[in_editing]").removeAttr('in_editing');
            tab.find('[id^="txt_search_"]').val('');
            tab.find('[id^="txt_rest_"]').val('');

            return false;

        });//click


        $("[id^='btn_update']").click(function () {

            var $this = $(this);
            var taxonomy_id = $this.attr('taxonomy_id');                   
            var wrd_id = $this.attr('wrd_id')
            var node_counter = $this.attr('node_counter')
            var parent_node = $this.attr('parent_node')

            var $this = $(this);
            var $parent = $this.parent();
            var $txt_search = $parent.find('[id^="txt_search_"]');
            var $txt_rest = $parent.find('[id^="txt_rest_"]');
            

            if (!$txt_search.val().trim()) {
                alert("يجب تحديد الفعل");
                return false;
            }
            if (!$txt_rest.val().trim()) {
                alert("يجب تحديد الجملة");
                return false;
            }

            $("[in_editing]:eq(0) > a").
                text('أن ' + $txt_search.val() + ' الطالب ' + $txt_rest.val()).
            attr({
                'wrdid':$txt_search.attr('wrdid'),
                'href':'#'
            });

            $("[in_editing]").removeAttr('in_editing');
            $txt_search.val('');
            $txt_rest.val('');

            $(this).next().trigger('click');
            
            var $tree = $("#tree").clone()
            $('img', $tree).remove();
            setCookie("tree", encodeURIComponent($tree.html()), 365);

            return false;

        });//click



    })




    $(document.body).on('click', '.edit', function () {
        var $this = $(this);
        var taxonomy_id = $this.attr('taxonomy_id');
        var wrd_id = $this.attr('edit_wrd_id')
        var node_counter = $this.attr('node_counter')
        var parent_node = $this.attr('parent_node')

        node_text = $(this).next().text();
        
        var tab = $("#tabs > div[taxonomy_id^='" + taxonomy_id + "']:eq(0)");
        var tab_index = $('#tabs > div').index(tab);
        
        $("#tabs").tabs({ active: tab_index });


        $('.add').show();
        $('.update,.cancel').hide();

        $('.add', tab).hide('slow');
        $('.update,.cancel', tab).show('slow');
        $('.update,.cancel', tab).attr({
            taxonomy_id: taxonomy_id,
            wrd_id: wrd_id,
            node_counter: node_counter,
            parent_node: parent_node
        });


        var $txt_search = tab.find('[id^="txt_search_"]');
        var $txt_rest = tab.find('[id^="txt_rest_"]');

        $txt_search.val(node_text.split('أن')[1].split('الطالب')[0]);
        $txt_rest.val(node_text.split('أن')[1].split('الطالب')[1]);

        //$txt_rest.val();
        $('[in_editing]').removeAttr('in_editing');
        $this.parent().attr('in_editing', 1);
    });

</script>

{% endblock %}